
a[routerLink="/Student"]{
    background: linear-gradient(135deg, #cf1650 0%, #b31463 100%);
    border-radius: 0 15px 0 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(207, 22, 80, 0.2);
}

a[routerLink="/Student"]:hover {
    background: linear-gradient(135deg, #ec1c3c 0%, #d73f6f 100%) !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(207, 22, 80, 0.3) !important;
    border-radius: 15px 0 15px 0 !important;
}
